<li class="nav-item">
    <a href="/Category/CategoryList" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Kategoriler
            <span class="right badge badge-danger">@TempData["AllCategoriesCount"]</span>
        </p>
    </a>
</li>
