<li class="nav-item has-treeview">
    <a href="/Product/ProductList" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
            Ürünler
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Product/ProductList" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Tüm Ürünler
                </p>
            </a>
        </li>
    </ul>

    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Product/CategoryProducts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                    Kategoriye Göre
                    <span class="badge badge-info right">@TempData["CategoryProductsCount"]</span>
                </p>
            </a>
        </li>
    </ul>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Product/ProductList?isNew=true" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yeni Ürünler</p>
            </a>
        </li>
    </ul>
</li>