@using ECommerceLiteEntity.IdentityModels
@model ApplicationUser
@if (Model != null)
{
    <li>
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o"></i>@Model.Name @Model.Surname</a>

            <ul class="dropdown-menu" style="background-color:#15161d;">
                <li><a href="/Account/UserProfile" style="color: #d10024; font-weight: bold;"><i class="fa fa-user-o"></i>Hesap Bilgileri</a></li>
                <li><a href="/Home/Order" style="color: #d10024; font-weight: bold;"><i class="fa fa-shopping-cart"></i>Siparişlerim</a></li>
            </ul>
        </div>
    </li>
    
}
else
{
    <li><a href="/Account/UserProfile"><i class="fa fa-user-o"></i>HESABIM</a></li>
}

