@using ECommerceLiteEntity.Models
@model List<Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
       
        <a href="/Category/Create" class="btn btn-info">Yeni Kategori Ekle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryDescription</td>
                        <td>
                            <a href="/Category/Edit/@item.Id"
                               class="btn btn-sm btn-warning" style="margin-right:5px">Düzenle</a>


                            <a href="/Category/Delete/@item.Id"
                               class="btn btn-sm btn-danger" style="margin-right:5px">Sil</a>


                            <a href="/Category/SubCategoryList?id=@item.Id&IsSendFromSubCategory=true"
                               class="btn btn-sm btn-info" style="margin-right:5px">Alt Kategoriler</a>

                            
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @section scripts{
        <script>
            $(function () {
                $("#example1").DataTable({
                    "responsive": true,
                    "autoWidth": false,
                });
            });</script>
    }
    <!-- /.card-body -->
</div>

